mixin new(image1,titulo,text,href,name,classes)
	.card__new
		div(class=`card__imagen ${image1}`)
		h2.card__title=titulo 
		p.card__text=text 
		a(class!=attributes.class href=href)=name 
		a(class=classes href=href)= name