mixin new(image1,titulo,text,href,name,classes)
	.new__card 
		div(class=`new__card-imagen ${image1}`)
		h2.new__title=titulo 
		p.new__text=text 
		a(class!=attributes.class href=href)= name
		a(class=classes href=href)= name